:root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 1140px;
}


@keyframes slideIn {
  0% {
      transform: translateY(1rem);
      opacity: 0;
  }
  100% {
      transform: translateY(0rem);
      opacity: 1;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

/* actual dropdown animation */
.dropdown .dropdown-menu {
  
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  will-change: max-height, opacity, padding-top, padding-bottom;

}

.dropdown.show .dropdown-menu {
  display: block;
  max-height: 250px;
  opacity: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

body {
  hyphens: auto;
}

h1 {
  color: #595959;
  font-size: 2.5rem;
}
h2 {
  color: #595959;
}

.jumbotron {
  border-radius: 0rem;
  padding: 1rem 2rem;
  background-color: #e9ecef;
  margin-bottom: 2rem;
  box-sizing: border-box;

}
@media (max-width: 575.98px) {
  .responsive-block {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 1rem 2rem;
  }
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.bg-dark {
  background-color: #2c384e !important;
}

.nav-link {
  letter-spacing: 1px !important;
}

.navbar-nav > li > .dropdown-menu{
  background-color: #e7e7e7; 

}
.nav-item.dropdown.active{
  background: #1879b4;
  border-radius: 0.5rem;
}

.nav-item.dropdown.active > .nav-link{
  color: #fff;
}

.nav-item.dropdown {
  transition: background 0.3s ease, border-radius 0.3s ease;
}

.nav-item.dropdown.active:hover {
  background: #145f8e; /* slightly darker on hover */
}


.navbar-toggler:focus {
  outline: 1px dotted !important;
  box-shadow: none;
}

.btn:not(.quiz-btn):hover,
.btn:not(.quiz-btn):focus {
  color: #fff;
  background-color: #0069d9;
}


/* Dropdown menu font color*/ 
.navbar-nav > li > .dropdown-menu a {   color: #555555;  }
.navbar-nav > li > .dropdown-menu a.active {   color: #fff;  }


.navgrid-image {
  width: 100px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: #e9ecef;
}

.carousel-image {
  width: 100%;
}
.carousel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.carousel-control-prev-icon {
  width: 20px;
  height: 20px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  width: 20px;
  height: 20px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.carousel-indicators {
  list-style: none;        /* removes numbers */
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-dialog {
  max-width: 90%;
}


img.zoom {
  width: 100%;
  height: 200px;
  border-radius:5px;
  object-fit:cover;
}

#overlay {
  display: none; /* Startet versteckt */
  position: fixed; /* Deckt das gesamte Fenster ab */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparentes Grau */
  z-index: 999; /* Unterhalb des Popups, aber oberhalb anderer Inhalte */
}

#popup {
  display:none;
  position:absolute;
  margin:0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px 2px #000;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
}

.thumbnail-preview {
  position: fixed; /* Fixiert das Thumbnail relativ zum Viewport */
  right: 20px; /* Abstand vom rechten Rand des Bildschirms */
  bottom: 20px; /* Abstand vom unteren Rand des Bildschirms */
  max-width: 150px; /* Begrenzung der Breite der Vorschau */
  cursor: pointer; /* Zeiger zeigt an, dass das Bild klickbar ist */
  border: 1px solid #ddd; /* Rahmen um die Vorschau */
  border-radius: 5px; /* Abgerundete Ecken */
  z-index: 998; /* Sicherstellen, dass das Thumbnail über anderen Inhalten liegt */
}

/* src/components/Timeline.css */

.timeline-container {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-item {
  margin-bottom: 2rem;
}

.timeline-body,
.timeline-content,
.card {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}


.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 30px;
  scroll-snap-align: start; /* Snaps to top of the container */
  display: flex;
  align-items: flex-start;
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #007bff; /* Blue line for timeline */
  border-radius: 4px;
}

.timeline-body {
  width: 100%;
}

.timeline-content {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 95%;
}

.custom-timeline-content {

  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}


.timeline-content:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.timeline-content h5 {
  color: #6c757d; /* Subtitle color */
  font-size: 1.1rem;
}

.custom-timeline-content h5 {
  color: #6c757d; /* Subtitle color */
  font-size: 1.1rem;
}

.timeline-content h2 {
  color: #007bff; /* Title color */
  font-size: 1.5rem;
}
.custom-timeline-content h2 {
  color: #007bff; /* Title color */
  font-size: 1.5rem;
}

.timeline-content p {
  font-size: 1rem;
  color: #495057;
}

.custom-timeline-content p {
  font-size: 1rem;
  color: #495057;
}

/* Styling for the timeline card */
.card-body {
  padding: 0;
}

/* Add spacing between items and ensure responsiveness */
@media (max-width: 768px) {
  .timeline-item {
    margin-bottom: 20px;
  }

  .timeline-content h2 {
    font-size: 1.2rem;
  }

  .timeline-content p {
    font-size: 0.9rem;
  }
  
}

.no-bg-hover {
  background-color: transparent !important;
  color: #0d6efd; /* Set your default text color */
}

.no-bg-hover:hover,
.no-bg-hover:focus,
.no-bg-hover:active {
  background-color: transparent !important; /* Prevent background change */
  color: #0056b3 !important; /* Keep or change hover/click text color */
  text-decoration: underline;
  box-shadow: none; /* Remove Bootstrap's focus outline if needed */
}

.check-icon {
  color: #007bff;  /* Setzt die Farbe des Häkchens auf Blau */
}

.navgrid-image {
  max-height: 100px; /* Hauptnavigation Icons behalten Größe */
  object-fit: contain; /* Verhindert Verzerrung der Icons */
}

.social-icon {
  max-height: 50px; /* Kleinere Social Media Icons */
  border-radius: 50%; /* Runde Ecken für die Social Media Icons */
  object-fit: contain; /* Verhindert Verzerrung */
}

.social-icon:hover {
  opacity: 0.8; /* Hover-Effekt für die Social Media Icons */
}

@media (max-width: 768px) {
table th {
width: 40% !important;
}
}

